<h2 class="pull-left">   <%= image_tag(@user.dp_url(:thumb), height:'50', width:'50') if @user.dp?%></h2><br>
<h3 class="featurette-heading pull-left"><br>     <%= @user.name %></h3>
        <br>
        <h2 class="lead"><%= @user.location %></h2>
    