<% provide(:title, 'Help') %>
<br><br><h2 class="featurette-heading">Help</h2><br><br>

<div class="tabbable tabs-left">
 <ul class="nav nav-tabs" id="proftabs">
 <li><a href="#instruction_tab" data-toggle="tab" > How Nimbus Works </a></li>
 <li><a href="#about_tab" data-toggle="tab" > About Us </a></li>
  <li><a href="#contact_us_tab" data-toggle="tab">Contact Us</a></li>
  </ul>
  <div class="tab-content">
    <div id="instruction_tab" class="tab-pane">

    </div>
    <div id="about_tab" class="tab-pane">
    Make this look like a fun resume.
	<br> 
	Made by travel addicts for travel addicts! Whether you're a hithchiker, backpacker, newlywed couple, family or a business traveller, Days In has you covered when planning your next trip. 	<br> 
	   <br>
   </div>
          
   <div id="contact_us_tab" class="tab-pane">
      
		<br>
          
		  Test
		  
		  Test
      
		  </br>
   </div>
      
    
          </div>
          
        
		</div>